<!DOCTYPE html>
<html>
<head>
    <title>Angular</title>
    <link rel="stylesheet" href="">
    <script src="./lib/angular.min.js"></script>
    <style>
        body{

            margin: 25px 50px;
            background-color: lightblue;
        }
    </style>

</head>
<body ng-app="firstApp">

<div ng-controller="appController"class="container">

        Favorite Ride: <small><input ng-model="name"></small>
        <h4>What fascinates you about: {{ name | uppercase }}</h4>

    <hr>
    <div data-ng-init="quantity=1;price=5">

        <h2>Price Calculator</h2>

        Quantity:   <input type="number" ng-model="quantity">
        Price:      <input type="number" ng-model="price">

        <p><b>Total in dollar:</b> {{quantity * price}}</p>

    </div>
    <hr>

</div>
<script src="app.js"></script>
</body>
</html>